.about-page-text{
	width: 50%;
	min-width: 50rem;
	text-align: justify-all;
	margin: 2rem auto;
	line-height: 1.4rem;
}

.about-page-text h1{
	font-size: 2.5rem;
	font-variant: small-caps;
	text-align: center;
}

.about-page-text h2{
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 2rem;
}
