.assets-selected-table, .fees-overview-table{
	border: 1px solid black;
	border-collapse:  collapse;
	margin: 1rem auto;
}

.assets-selected-table td, .fees-overview-table td,
.assets-selected-table th, .fees-overview-table th{
	border: 1px solid black;
	padding: 0.5rem;
}
