.create-babel-box-main-div{
	border: 1px solid grey;
	max-width: 40rem;
	margin: 0 auto;
	padding: 1rem;
	border-radius: 0.5rem;
}

.create-babel-box-main-div button{
	width: 14rem;
	height: 2rem;
	border-radius: 0.5rem;
	border: 1px solid black;
	margin: 1rem auto;
	font-size: 1rem;
	display: block;
}

.create-babel-box-main-div button:hover{
	border: 1px solid orange;
}

.create-babel-box-main-div input{
	display: block;
	margin: 0.5rem auto;
	width: 30rem;
	height: 2rem;
	border-radius: 0.3rem;
	border: 1px solid black;
	padding: 0.2rem 1rem;
	text-align: center;
}

.create-babel-box-summary, .create-babel-box-summary th, .create-babel-box-summary td{
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 0.5rem 1rem;
	margin: 0 auto;
}
