.home-page-div{
	text-align: center;
	margin: 5rem;
	margin-top: 15rem;
}

.home-page-div h1{
	font-size: 2.2rem;
}

.home-page-div img{
	width: 45rem;
}

.home-page-div button{
	width: 25rem;
	height: 5rem;
	border-radius: 1rem;
	font-size: 1.5rem;
	border: 2px solid black;
}

.home-page-div button:hover{
	border: 2px solid orange;
}
