.token-id-selector-main-div{
	margin: 0 auto;
	max-width: 40rem;
}

.token-id-selector-radio-div{
	text-align: left;
	margin-left: 10rem;
	margin-bottom: 1rem;
}

#radio1, #radio2, #radio3{
	margin: 0.5rem;
}

.token-select select, .token-select input{
	border-radius: 0.5rem;
	width: 40rem;
	padding: 0rem 0.5rem;
	height: 2rem;
}

.token-select input{
	width: 28.5rem;
	display: block;
	margin: 0 auto;
}

.token-select button{
	width: 10rem;
	margin: 1rem;
	height: 2rem;
	border-radius: 0.5rem;
	border: 1px solid black;
	font-size: 1rem;
}

.token-select button:hover{
	border: 1px solid orange;
}
